<!-- <p>footer works!</p> -->
<div class="footer text-white ">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 pt-5 text-center">
                <h2>LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4 pt-5 text-center ">
                <h2 class="mb-3">AROUND THE WEB</h2>
                <div class="icons ">
                <i class="fa-brands fa-facebook me-3 border rounded-circle p-2"></i>
                <i class="fa-brands fa-twitter me-3 border rounded-circle p-2"></i>
                <i class="fa-brands fa-linkedin-in me-3 border rounded-circle p-2"></i>
                <i class="fa-solid fa-globe me-3 border rounded-circle p-2"></i>
            </div>
        </div>
            <div class="col-md-4 pt-5 text-center">
                <h2 class="text-center">ABOUT FREELANCER</h2>
                <p class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    
    </div>
</div>
<div class="copyright">
<p class="text-white text-center pt-2">Copyright © Your Website 2021</p>
</div>
