

<div class="contact mt-5">
    <div class="container ">
        <h2 class="text-white">.</h2>
   <h2 class="fs-1 fw-bold  text-center pt-5 ">CONTACT SECTION</h2>

   <div class="icone position-relative text-center mb-2">
    <div class="line"></div>
<i class="fa-solid fa-star ms-2"></i>
<div class="line"></div>
</div>


    <form class="text-center mt-5" >
   <div class="field pb-4">
    <input type="text" id="name" >
    <label for="name">userName</label>
   </div>
   <div class="field pb-4 ">
    <input type="number" id="age" >
    <label for="age">userAge</label>
   </div>
   <div class="field pb-4">
    <input type="email" id="email" >
    <label for="email">userEmail</label>
   </div>
   <div class="field pb-4">
    <input type="password" id="password" >
    <label for="password" class="ms-2">userPassword</label>
   </div>

   <button class="btn btn-success">Send Message</button>
    </form>
</div>
</div>