<p>portfolio works!</p>
<div class="portfolio mt-5  ">
    <div class="container mb-2 ">
<h2 class="fs-1 fw-bold  text-center pt-5">PORTFOLIO COMPONENT</h2> 


<div class="icone position-relative text-center mb-2">
    <div class="line"></div>
<i class="fa-solid fa-star ms-2"></i>
<div class="line"></div>
</div>

<div class="row g-4">

    <div class="col-lg-4 col-md-6">
        <div class="image position-relative " (click)="getphoto(image[0])">
            <img [src]="image[0]" srcset="" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute  d-flex justify-content-center align-items-center rounded-2">
                <i class="fa-solid fa-plus text-white "></i>
            </div>
        </div>
    </div>

   <div class="col-lg-4 col-md-6">
        <div class="image position-relative"  (click)="getphoto(image[1])">
            <img  [src]="image[1]" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute  d-flex justify-content-center align-items-center rounded-2">
                <i class="fa-solid fa-plus text-white "></i>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="image position-relative" (click)="getphoto(image[2])">
            <img  [src]="image[2]" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute  d-flex justify-content-center align-items-center rounded-2">
                <i class="fa-solid fa-plus text-white "></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="image position-relative" (click)="getphoto(image[0])">
            <img  [src]="image[0]" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute  d-flex justify-content-center align-items-center rounded-2">
                <i class="fa-solid fa-plus text-white "></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="image position-relative" (click)="getphoto(image[1])">
            <img  [src]="image[1]" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute  d-flex justify-content-center align-items-center rounded-2">
                <i class="fa-solid fa-plus text-white "></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="image position-relative" (click)="getphoto(image[2])">
            <img  [src]="image[2]" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute  d-flex justify-content-center align-items-center rounded-2">
                <i class="fa-solid fa-plus text-white "></i>
            </div>
        </div>
    </div>
  
  
</div>

</div>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <img src="assets/images/poert1.png"  class="w-100" alt="">
        </div>
      
      </div>
    </div>
  </div> -->





</div>