


<div class="home d-flex justify-content-center align-items-center">
    <div class="content  ">
        <div class="image mx-auto">
        <img src="assets/images/avataaars.svg" class="w-100" alt="">
       </div>
    <div class="text">
        <p class="fs-1 fw-bold mt-2 text-white">START FRAMEWORK</p>


        <div class="icone position-relative text-center">
            <div class="line"></div>
        <i class="fa-solid fa-star text-white"></i>
        <div class="line"></div>
     </div>

        <p class="text-white text-center mt-2">Graphic Artist - Web Designer - Illustrator</p>
      </div>

    </div>
    
</div>
